@font-face {
	font-family: 'gilroy';
	src: url("../fonts/gilroyextrabold.woff2"),
		url("../fonts/gilroyextrabold.woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: 'gilroy';
	src: url("../fonts/gilroylight.woff2"),
		url("../fonts/gilroylight.woff");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'opensans';
	src: url("../fonts/opensans.woff2"),
		url("../fonts/opensans.woff");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'opensans';
	src: url("../fonts/opensanslight.woff2"),
		url("../fonts/opensanslight.woff");
	font-weight: 300;
	font-style: normal;
}
body {
	margin: 0;
	padding: 0;
	font-size: 15px;
	line-height: 30px;
	font-weight: 300px;
	color: #000000;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
/* общие элементы */
.nav-list,
.subnav-list,
.product-items-section,
.service-list,
.partners-list,
.transport-brands,
.footer-nav-list,
.breadcrumbs,
.filter-list,
.subject-sort,
.direction-sort,
.catalog-list,
.paginator-list {
	list-style: none;
	padding: 0;
	margin: 0;
}
/* кнопка с желтой полоской по центру */
.btn {
	font-family: gilroy;
	font-weight: 800;
	padding: 0;
	margin: 0;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 2.15px;
	background-color: transparent;
	border: none;
	border-radius: 0;
}
																/* начинаю разметку	хедераааааа */
.logo img:hover {
	opacity: 0.6
}
.logo img:active {
	opacity: 0.3
}
.logo {
	margin:0;
	padding: 0;
}

																													/*юзер меню*/
.main-header {
	width: 1160px;
	background-color: rgba(240, 197, 46, 0.5);
	margin: 40px auto;
}
.logo img {
	position: relative;
	bottom:18px;
	left: 60px
}
.user-menu input[type="search"],
.user-menu a,
form .search-btn {
	font-family: opensans;
	font-weight: 300;
	border: none;
	background-color: transparent;
	text-decoration: none;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	letter-spacing: 0.15px;
}
.user-menu input[type="search"] {
	opacity: 0.3;
}
.user-menu input[type="search"]:hover {
	opacity: 0.6;
}
.user-menu input[type="search"]:focus {
	opacity: 1
}
.user-menu-item:hover {
	opacity: 0.6
}
.user-menu-item:active {
	opacity: 0.3
}
form .search-btn {
	padding: 21px 19px
}
form .search-btn:hover {
	color: rgba(255, 255, 255, 1);
	background-color: #000000;
}
form .search-btn:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #000000
}
																												/*главное меню */
.nav-item-link a {
	font-family: gilroy;
	font-weight: 800;
	text-decoration: none;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 3.6px;
}
.subnav-item a {
	font-family: opensans;
	font-weight: 300;
	text-decoration: none;
	font-size: 15px;
	line-height: 36px;
	color: #000000;
	letter-spacing: 0.15px;
}
.nav-item-link a:hover {
	color: rgba(0, 0, 0, 0.6);
}
.nav-item-link a:active {
	color: rgba(0, 0, 0, 0.3);
}
													/*владения хедера на этом моменте заканчиваются*/
																		/*начинается мейн контйнер*/
																												/*промо-слайд*/					
.promo-lead {
	font-family: gilroy;
	font-weight: 800;
	font-size: 47px;
	line-height: 56px;
	color: #000000;
	letter-spacing: 0.17px;
}
.promo-desc {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #000000;
	letter-spacing: 0.15px;
}
.info-table th {
	font-family: opensans;
	font-weight: 300;
	font-size: 13px;
	line-height: 20px;
	color: #464646;
	letter-spacing: 0.13px;
}
.info-table td {
	font-family: gilroy;
	font-weight: 300;
	font-size: 36px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.36px;
}
																											/*секция продуктов*/
.product-item a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 18px;
	text-decoration: none;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.18px;
}
.product-icon-wrapper {
	background-color: rgba(240, 197, 46, 0.5);
}
.product-item:hover .product-icon-wrapper { 
	background-color: rgba(240, 197, 46, 1);
}
.product-item:active img,
.product-item:active span {
	opacity: 0.3
}
																													/*сервис*/
.service-slide h3 {
	font-family: gilroy;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.21px;
}
.service-slide p {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
	letter-spacing: 0.15px;
}
																										/* партнеры пока пусто */
																										/*о нас, контакты*/
.about-us h3,
.contacts h3 {
	font-family: gilroy;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.21px;
}
.about-us p,
.contacts p {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #464646;
}
.transport-brands-slide a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 40px;
	color: #000000;
	letter-spacing: 0.21px;
	text-decoration: none;
}
																					/*кончился мейн контейнер*/
																					/*футер*/
.user-menu-footer a {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 36px;
	text-decoration: none;
	letter-spacing: 0.15px;
	color: #ffffff;
}
.address {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
}
.footer-nav-list a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #ffffff;
	letter-spacing: 3.6px;
	text-decoration: none;
}
.phone-link {
	font-family: opensans;
	font-weight: 300;
	font-size: 15px;
	line-height: 30px;
	color: #ffffff;
	text-decoration: none;
}
																							/*кончился футер*/
																									/*модалки*/
.modal-form label {
	font-family: gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
}
.modal-form input[type="text"],
.modal-form input[type="email"],
.modal-form input[type="textarea"] {
	font-family: opensans;
	font-weight: 300;
	font-size: 14px;
	line-height: 18px;
	color: #464646;
	box-sizing: border-box;
	border: none;
	background-color: #f2f2f2
}
.modal-form input[type="text"],
.modal-form input[type="email"] {
	width: 360px;
	min-height: 50px;
	padding: 18px 20px;
}
.modal-form input[type="textarea"] {
	min-height: 156px;
	width: 760px;
	padding: 18px 20px
}
.modal-form input:hover {
	background-color: #eaeaea
}
.modal-form input:focus {
	background-color: #ffffff;
	outline: 3px solid #f0c52e
}
.modal-form input:invalid {
	background-color: #f6dada
}
::-webkit-input-placeholder { 
	color: rgba(70, 70, 70, 0.4);
}
::-moz-placeholder	{ 
	color: rgba(70, 70, 70, 0.4); 
} /* Firefox 19+ */
:-moz-placeholder	{ 
	color: rgba(70, 70, 70, 0.4);
} /* Firefox 18- */
:-ms-input-placeholder	{ 
	color: rgba(70, 70, 70, 0.4);
}

.modal-close {
	width: 55px;
	height: 56px;
	background: url(../img/modal-close.svg) no-repeat;
	border: none;
	box-shadow: none;
}
/*Стилизация каталога*/
																/*каталог мейн контейнер*/
.page-title {
	font-family: gilroy;
	font-weight: 800;
	font-size: 47px;
	line-height: 48px;
	color: #000000;
	letter-spacing: 0.17;
}
.breadcrumbs,
.breadcrumbs a {
	font-family: opensans;
	font-weight: 300;
	font-size: 14px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	text-decoration: none;
}
.breadcrumbs a:hover {
	color: rgba(0, 0, 0, 0.6)
}
.breadcrumbs a:active {
	color: rgba(0, 0, 0, 0.1)
}
																									/*фильтры*/
.filter-item {
	border: none;
	margin: 0;
	padding: 0;
}
.subject-sort-item a {
	opacity: 0.3
}
.subject-sort-item:hover a {
	opacity: 0.6
}
.subject-sort-item:active a {
	opacity: 1
}
.filter-block {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.91;
}
.filter-item legend {
	font-family: gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.18;
}
.filter-option label {
	font-family: opensans;
	font-weight: 300;
	font-size: 14px;
	line-height: 40px;
	color: #000000;
	letter-spacing: 0.14px;
}
.subject-sort-item a {
	font-family: opensans;
	font-weight: 400;
	font-size: 14px;
	line-height: 18px;
	color: #000000;
	text-decoration: none;
}
																/*блок с карточками товаров включая пагинатор*/
.label-new {
	font-family: gilroy;
	font-weight: 800;
	font-size: 14px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.25;
	opacity: 0.2;
	text-transform: uppercase;
}
.catalog-item-inner a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 18px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.18;
	text-decoration: none;
}
.catalog-item-inner span {
	font-family: opensans;
	font-weight: 300;
	font-size: 16px;
	line-height: 24px;
	color: #464646;
	letter-spacing: 0.16px;
}
/* стиль для карточки при наведении */
.catalog-item-compare {
	font-family: opensans;
	font-weight: 300;
	font-size: 13px;
	line-height: 36px;
	color: #464646;
	letter-spacing: 0.13px;
	text-decoration: none;
}
/*пагинатор*/

.paginator-box {
	display: flex;
	max-width: 760px;
	justify-content: space-between;
	background-color: #ebebeb;
	align-items: center;
	box-sizing: border-box;
	padding-top: 30px;
	padding-bottom: 27px;
	padding-left: 30px;
	max-height: 70px;
	padding-right: 30px
}
.paginator-list {
	display: flex;
}
.paginator-item {
	padding-right: 31px
}
.button-forward a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.91;
	text-decoration: none;
}
.button-back a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: #000000;
	letter-spacing: 0.91;
	text-decoration: none;
}
.paginator-list,
.paginator-list a {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.3);
	letter-spacing: 0.91;
	text-decoration: none;
}
.paginator-item a:hover {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 0.6);
	letter-spacing: 0.91;
	text-decoration: none;
}
.paginator-item a:active {
	font-family: gilroy;
	font-weight: 800;
	font-size: 16px;
	line-height: 24px;
	color: rgba(0, 0, 0, 1);
	letter-spacing: 0.91;
	text-decoration: none;
}
.pagination-item-current {
	color: rgba(0, 0, 0, 1);
}